<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-location-heading" jhiTranslate="eventPlannerApp.location.home.createOrEditLabel">Create or edit a Location</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventPlannerApp.location.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventPlannerApp.location.dateFrom" for="field_dateFrom">Date From</label>
                    <div class="d-flex">
                        <input id="field_dateFrom" type="datetime-local" class="form-control" name="dateFrom" formControlName="dateFrom" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventPlannerApp.location.dateTo" for="field_dateTo">Date To</label>
                    <div class="d-flex">
                        <input id="field_dateTo" type="datetime-local" class="form-control" name="dateTo" formControlName="dateTo" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventPlannerApp.location.project" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" formControlName="project">
                        <option *ngIf="!editForm.get('project')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="projectOption.id === editForm.get('project')!.value?.id ? editForm.get('project')!.value : projectOption" *ngFor="let projectOption of projects; trackBy: trackById">{{ projectOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('project')!.invalid && (editForm.get('project')!.dirty || editForm.get('project')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('project')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventPlannerApp.location.responsibility" for="field_responsibility">Responsibility</label>
                    <select class="form-control" id="field_responsibility" name="responsibility" formControlName="responsibility">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="responsibilityOption.id === editForm.get('responsibility')!.value?.id ? editForm.get('responsibility')!.value : responsibilityOption" *ngFor="let responsibilityOption of responsibilities; trackBy: trackById">{{ responsibilityOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
