<div class="row">
  <div class="col-md-12">
    <h2 id="page-heading" data-cy="projectInvitationLoginHeading">
      <span jhiTranslate="app.project.invitation.title" [translateValues]="{ email: invitationEmail || 'Event Planner' }"
        >Willkommen, Event Planner</span
      >
    </h2>

    <p class="lead"><span jhiTranslate="app.project.invitation.subtitle"> Um die Einladung anzunehmen, logge dich bitte ein </span>.</p>

    <div class="btn-group">
      <button type="button" class="btn btn-info btn-sm" data-cy="loginButton" (click)="login()">
        <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
        <span jhiTranslate="global.menu.account.login">Anmelden</span>
      </button>
    </div>
  </div>
</div>
