<div class="row">
  <div class="col-md-12">
    <h2 id="page-heading" data-cy="projectInvitationLoginHeading">
      <span jhiTranslate="app.project.invitation.title" [translateValues]="{ email }">Willkommen, Event Planner</span>
    </h2>

    <ngb-alert *ngIf="isLoading; else acceptInvitationContent" [dismissible]="false" type="info">
      <span jhiTranslate="app.project.invitation.loading"> Daten werden geladen </span>
    </ngb-alert>

    <ng-template #acceptInvitationContent>
      <div *ngSwitchDefault>
        <p class="lead"><span jhiTranslate="app.project.invitation.subtitle"> Du kannst nun die Einladung annehmen </span>.</p>

        <div class="btn-group">
          <button type="button" class="btn btn-info btn-sm" data-cy="loginButton" (click)="acceptInvitation()" [disabled]="isSaving">
            <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.login"> Einladung annehmen </span>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
