<div [ngSwitch]="!!account">
  <app-project-invitation-login [invitationEmail]="invitationEmail" *ngSwitchDefault></app-project-invitation-login>

  <div *ngSwitchCase="true">
    <div class="row">
      <div class="col-md-12">
        <h2 id="page-heading" data-cy="projectInvitationLoginHeading">
          <span jhiTranslate="app.project.invitation.title" [translateValues]="{ email: invitationEmail || account!.email! }"
            >Willkommen, Event Planner</span
          >
        </h2>

        <p class="lead"><span jhiTranslate="app.project.invitation.subtitle"> Du kannst nun die Einladung annehmen </span>.</p>

        <div class="btn-group">
          <button type="button" class="btn btn-info btn-sm" data-cy="loginButton" (click)="acceptInvitation()">
            <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.login">Einladung annehmen</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
