<div *ngIf="project">
  <h2 id="page-heading" data-cy="projectAdminHeading" class="mb-3">
    <span jhiTranslate="app.project.admin.title">Projekt</span>
    <span class="fst-italic fw-light">{{ project.name }}</span>
  </h2>

  <div class="row">
    <div class="col-md-3">
      <app-project-admin-side-nav [project]="project"></app-project-admin-side-nav>
    </div>

    <hr class="d-md-none mt-3" />

    <div class="offset-1 col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
