<div *ngIf="project">
  <h2 class="page-heading">
    <span>{{ project?.name }}</span>
    <small jhiTranslate="eventPlannerApp.project.home.settingsLabel">Settings</small>

    <div class="float-end clearfix">
      <button
        type="submit"
        id="btn-edit-project"
        *appHasAnyRole="{ projectId: project?.id!, roles: roleAdmin }"
        [routerLink]="['', { outlets: { modal: ['projects', project.id, 'edit'] } }]"
        class="btn btn-negative btn-blue btn-md"
      >
        <fa-icon icon="pencil-alt"></fa-icon>
        <span jhiTranslate="entity.action.edit">Edit</span>
      </button>

      <button id="calendar-{{ project.id }}" [routerLink]="['/project', project.id, 'calendar']" class="btn btn-negative btn-gray btn-md">
        <fa-icon [icon]="faCalendar"></fa-icon>
        <span jhiTranslate="eventPlannerApp.project.home.calendarLabel">Calendar</span>
      </button>

      <button
        id="screenplay-{{ project.id }}"
        [routerLink]="['/project', project.id, 'screenplay']"
        class="btn btn-negative btn-gray btn-md"
      >
        <fa-icon [icon]="faBook"></fa-icon>
        <span jhiTranslate="eventPlannerApp.project.home.screenplayLabel">Screenplay</span>
      </button>
    </div>
  </h2>

  <div class="time">{{ project.startTime.toDate() | date: 'longDate' }} - {{ project.endTime.toDate() | date: 'longDate' }}</div>

  <div *ngIf="project.description" class="description">{{ project.description }}</div>

  <br />

  <app-project-admin-navbar></app-project-admin-navbar>

  <br />

  <router-outlet></router-outlet>
</div>
