<div *ngIf="project">
  <h2 id="page-heading" data-cy="myProjectsListHeading" class="mb-3">
    <span jhiTranslate="app.calendar.title"> Kalender </span>
    <span class="fst-italic fw-light">{{ project.name }}</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row mt-3">
    <div class="col-md-8">
      <h3>{{ viewDate.toDate() | calendarDate: activeCalendarView + 'ViewTitle' : currentLang }}</h3>
    </div>

    <div class="col-md-4 d-flex justify-content-end">
      <div class="btn-group ml-auto">
        <div class="btn btn-primary" (click)="setView(calendarView.Month)" [class.active]="activeCalendarView === calendarView.Month">
          <span jhiTranslate="app.calendar.view.month"> Monat </span>
        </div>

        <div class="btn btn-primary" (click)="setView(calendarView.Week)" [class.active]="activeCalendarView === calendarView.Week">
          <span jhiTranslate="app.calendar.view.week"> Woche </span>
        </div>

        <div class="btn btn-primary" (click)="setView(calendarView.Day)" [class.active]="activeCalendarView === calendarView.Day">
          <span jhiTranslate="app.calendar.view.day"> Tag </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3" *ngIf="startOfProject && endOfProject">
    <div class="col-md-12" [ngSwitch]="activeCalendarView">
      <app-project-calender-month-view
        *ngSwitchCase="calendarView.Month"
        [events]="filteredEvents"
        [initialViewDate]="viewDate"
        [projectStartDate]="startOfProject!"
        [projectEndDate]="endOfProject!"
      ></app-project-calender-month-view>

      <app-project-calender-week-view
        *ngSwitchCase="calendarView.Week"
        [events]="filteredEvents"
        [initialViewDate]="viewDate"
        [projectStartDate]="startOfProject!"
        [projectEndDate]="endOfProject!"
      ></app-project-calender-week-view>

      <app-project-calender-day-view
        *ngSwitchCase="calendarView.Day"
        [events]="filteredEvents"
        [initialViewDate]="viewDate"
        [projectStartDate]="startOfProject!"
        [projectEndDate]="endOfProject!"
      ></app-project-calender-day-view>
    </div>
  </div>
</div>
