/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 24px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-event-planner.png') no-repeat center center;
  background-size: contain;
}
