<div class="footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <span class="bi logo-img"></span>
      </a>
      <span class="text-muted">© 2023 Timon Borter</span>
    </div>

    <div class="col-md-4 justify-content-center list-unstyled d-flex">
      <span class="text-muted">Event Planner</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="https://github.com/bbortt/event-planner" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </li>
    </ul>
  </footer>
</div>
