<div *ngIf="project">
  <h2 id="page-heading" class="mb-3" data-cy="projectMembersHeading">
    <span jhiTranslate="app.location.home.title"> Lokalitäten </span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="locations?.length === 0" id="no-result" class="alert alert-warning">
    <span jhiTranslate="app.location.home.notFound"> Keine Lokalitäten gefunden </span>
  </div>

  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a (click)="setActiveLocation(null)" jhiTranslate="app.project.admin.location.topLevel">Oberste Lokalitäten</a>
        </li>
        <li class="breadcrumb-item" *ngFor="let location of activeLocationPath">
          <a (click)="setActiveLocation(location)">{{ location.name }}</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div *ngIf="locations" class="col-md-5 card h-100 location-list" [class.location-list-disabled]="activeLocation">
      <h4 class="mt-2" jhiTranslate="app.project.admin.location.topLevel">Oberste Lokalitäten</h4>
      <div class="card-body" dragula="location-list" [(dragulaModel)]="locations">
        <app-project-location-drag
          *ngFor="let location of locations"
          [attr.data-id]="location.id"
          [location]="location"
          (click)="setActiveLocation(location)"
        ></app-project-location-drag>
      </div>
    </div>

    <div *ngIf="activeLocation" class="col-md-5 card h-100 child-location-list">
      <h4 class="mt-2">{{ activeLocation.name }}</h4>

      <div *ngIf="activeLocation.children?.length === 0" id="no-child-locations" class="alert alert-warning">
        <span jhiTranslate="app.project.admin.location.childrenNotFound"> Keine Unter-Lokalitäten gefunden </span>
      </div>

      <div *ngIf="activeLocation.children">
        <div class="card-body" dragula="location-list" [(dragulaModel)]="activeLocation.children">
          <app-project-location-drag
            *ngFor="let location of activeLocation.children"
            [attr.data-id]="location.id"
            [location]="location"
            (click)="setActiveLocation(location)"
          ></app-project-location-drag>
        </div>
      </div>
    </div>
  </div>
</div>
