<div *ngIf="project">
  <h2 id="page-heading" class="mb-3" data-cy="projectMembersHeading">
    <span jhiTranslate="app.location.home.title"> Lokalitäten </span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a (click)="setActiveLocation(null)" jhiTranslate="app.project.admin.location.topLevel">Oberste Lokalitäten</a>
        </li>
        <li class="breadcrumb-item" *ngFor="let location of activeLocationPath">
          <a (click)="setActiveLocation(location)">{{ location.name }}</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div *ngIf="locations" class="col-md-5 card location-list" [class.location-list-with-children]="activeLocation">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="mt-2" jhiTranslate="app.project.admin.location.topLevel">Oberste Lokalitäten</h4>

        <button
          type="button"
          class="btn btn-primary btn-sm btn-quadratic"
          data-cy="addRootLocationButton"
          data-toggle="tooltip"
          [title]="createNewLocationWithParentText"
          [routerLink]="[{ outlets: { modal: ['project', project.id, 'locations', 'new'] } }]"
          queryParamsHandling="merge"
        >
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>

      <div class="card-body" [dragula]="locationRootList" [(dragulaModel)]="locations">
        <div *ngIf="locations?.length === 0" id="no-result" class="alert alert-warning mb-0">
          <span jhiTranslate="app.location.home.notFound"> Keine Lokalitäten gefunden </span>
        </div>

        <app-project-location-drag
          *ngFor="let location of locations"
          [attr.data-id]="location.id"
          [location]="location"
          [project]="project"
          [locationSelected]="locationSelectedSource"
        ></app-project-location-drag>
      </div>
    </div>

    <div
      *ngIf="activeLocationPath.length > 1"
      class="col-md-1 child-location-list d-flex align-items-center justify-content-center"
      [class.location-list-with-children]="activeLocation"
    >
      <span class="dots">...</span>
    </div>

    <div *ngIf="activeLocation" class="col-md-5 card child-location-list">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="mt-2">{{ activeLocation.name }}</h4>

        <button
          type="button"
          class="btn btn-primary btn-sm btn-quadratic"
          data-cy="addRootLocationButton"
          data-toggle="tooltip"
          [title]="createNewLocationWithParentText"
          [routerLink]="[{ outlets: { modal: ['project', project.id, 'locations', activeLocation.id, 'new'] } }]"
          queryParamsHandling="merge"
        >
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>

      <div class="card-body" [dragula]="locationChildrenList" [(dragulaModel)]="activeLocation.children">
        <div *ngIf="activeLocation.children?.length === 0" id="alert-no-child-locations" class="alert alert-warning mb-0">
          <span jhiTranslate="app.project.admin.location.childrenNotFound"> Keine Unter-Lokalitäten gefunden </span>
        </div>

        <app-project-location-drag
          *ngFor="let location of activeLocation.children"
          [attr.data-id]="location.id"
          [location]="location"
          [project]="project"
          [locationSelected]="locationSelectedSource"
        ></app-project-location-drag>
      </div>
    </div>
  </div>

  <router-outlet name="modal"></router-outlet>
</div>
