<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="location">
      <h2 data-cy="locationDetailsHeading"><span jhiTranslate="app.location.detail.title">Lokalität</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ location.id }}</span>
        </dd>
        <dt><span jhiTranslate="app.location.name">Name</span></dt>
        <dd>
          <span>{{ location.name }}</span>
        </dd>
        <dt><span jhiTranslate="app.location.description">Description</span></dt>
        <dd>
          <span>{{ location.description }}</span>
        </dd>
        <dt><span jhiTranslate="app.location.createdBy">Created By</span></dt>
        <dd>
          <span>{{ location.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="app.location.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ location.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="app.location.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ location.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="app.location.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
          <span>{{ location.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="app.location.project">Project</span></dt>
        <dd>
          <div *ngIf="location.project">
            <a [routerLink]="['/project', location.project.id, 'view']">{{ location.project.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="app.location.parent">Parent</span></dt>
        <dd>
          <div *ngIf="location.parent">
            <a [routerLink]="['/location', location.parent.id, 'view']">{{ location.parent.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Zurück</span>
      </button>

      <button type="button" [routerLink]="['/location', location.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Bearbeiten</span>
      </button>
    </div>
  </div>
</div>
