<div class="row justify-content-center">
  <div class="col-8" *ngIf="project">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-heading">
        <div *ngIf="isReadonly; else createTitle">
          <small jhiTranslate="eventPlannerApp.event.detail.title">Event</small>
          {{ editForm.get('name')!.value }}
        </div>
        <ng-template #createTitle>
          <span *ngIf="isNew; else updateTitle" jhiTranslate="eventPlannerApp.event.home.createLabel">Create a new Event</span>
        </ng-template>
        <ng-template #updateTitle>
          <span jhiTranslate="eventPlannerApp.event.home.editLabel">Edit Event</span>
        </ng-template>
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="col mb-3" *ngIf="!isReadonly">
          <label class="form-label" jhiTranslate="eventPlannerApp.event.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" formControlName="name" autocomplete="off" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              This field is required to be at least 1 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="col mb-3">
          <label class="form-label" jhiTranslate="eventPlannerApp.event.description" for="field_description">Description</label>
          <textarea
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            formControlName="description"
            autocomplete="off"
            [readOnly]="isReadonly"
          >
          </textarea>
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              This field is required to be at least 1 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 300 }"
            >
              This field cannot be longer than 300 characters.
            </small>
          </div>
        </div>

        <div class="col mb-3">
          <label class="form-label" jhiTranslate="eventPlannerApp.event.startTime" for="field_startTime">Start Time</label>
          <div class="d-flex">
            <dx-date-box
              class="dx-form-control"
              name="startTime"
              id="field_startTime"
              type="datetime"
              [showClearButton]="false"
              [openOnFieldClick]="true"
              [displayFormat]="dateTimeFormat"
              formControlName="startTime"
              [min]="project.startTime.toDate()"
              [max]="project.endTime.toDate()"
              placeholder="dd.MM.yyyy HH:mm"
              [isValid]="isValidInput('startTime')"
              [readOnly]="isReadonly"
            >
            </dx-date-box>
          </div>
          <div *ngIf="editForm.get('startTime')!.invalid && (editForm.get('startTime')!.dirty || editForm.get('startTime')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('startTime')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('startTime')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="col mb-3">
          <label class="form-label" jhiTranslate="eventPlannerApp.event.endTime" for="field_endTime">End Time</label>
          <div class="d-flex">
            <dx-date-box
              class="dx-form-control"
              name="endTime"
              id="field_endTime"
              type="datetime"
              [showClearButton]="false"
              [openOnFieldClick]="true"
              [displayFormat]="dateTimeFormat"
              formControlName="endTime"
              [min]="minEndDate"
              [max]="project.endTime.toDate()"
              placeholder="dd.MM.yyyy HH:mm"
              [isValid]="isValidInput('endTime')"
              [readOnly]="isReadonly"
            >
            </dx-date-box>
          </div>
          <div *ngIf="editForm.get('endTime')!.invalid && (editForm.get('endTime')!.dirty || editForm.get('endTime')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('endTime')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('endTime')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="col mb-3" *ngIf="fromScratch || isReadonly">
          <label class="form-label" jhiTranslate="eventPlannerApp.section.location" for="field_location">Location</label>
          <dx-autocomplete
            class="dx-form-control"
            name="location"
            id="field_location"
            formControlName="locationAutocomplete"
            [placeholder]="'global.form.search' | translate"
            [dataSource]="locations"
            valueExpr="name"
            (onSelectionChanged)="locationSelected($event)"
            [showClearButton]="true"
            [isValid]="isValidInput('locationAutocomplete')"
            [readOnly]="isReadonly"
          >
          </dx-autocomplete>
        </div>

        <div class="col mb-3" *ngIf="(fromScratch && location?.id) || isReadonly">
          <label class="form-label" jhiTranslate="eventPlannerApp.event.section" for="field_section">Section</label>
          <dx-autocomplete
            class="dx-form-control"
            name="section"
            id="field_section"
            formControlName="sectionAutocomplete"
            [placeholder]="'global.form.search' | translate"
            [dataSource]="locations"
            valueExpr="name"
            (onSelectionChanged)="sectionSelected($event)"
            [showClearButton]="true"
            [isValid]="isValidInput('section')"
            [readOnly]="isReadonly"
          >
          </dx-autocomplete>
        </div>

        <div class="col mb-3">
          <div class="form-check form-check-inline">
            <input
              type="radio"
              value="responsibility"
              name="responsibilityUser"
              class="form-check-input"
              [checked]="isResponsibility"
              (change)="onRadioChange($event)"
            />
            <span class="form-check-label" jhiTranslate="eventPlannerApp.event.responsibility">Responsibility</span>
          </div>
          <div class="form-check form-check-inline">
            <input
              type="radio"
              value="user"
              name="responsibilityUser"
              class="form-check-input"
              [checked]="!isResponsibility"
              (change)="onRadioChange($event)"
            />
            <span class="form-check-label" jhiTranslate="eventPlannerApp.event.user">User</span>
          </div>
        </div>

        <div class="col mb-3">
          <label *ngIf="isResponsibility" class="form-label" jhiTranslate="eventPlannerApp.location.responsibility" for="field_autocomplete"
            >Responsibility</label
          >
          <label *ngIf="!isResponsibility" class="form-label" jhiTranslate="eventPlannerApp.location.user" for="field_autocomplete"
            >User</label
          >
          <dx-autocomplete
            class="dx-form-control"
            [name]="isResponsibility ? 'responsibility' : 'user'"
            id="field_autocomplete"
            [formControlName]="isResponsibility ? 'responsibilityAutocomplete' : 'userAutocomplete'"
            [placeholder]="'global.form.search' | translate"
            [dataSource]="isResponsibility ? responsibilities : users"
            valueExpr="name"
            (onSelectionChanged)="isResponsibility ? responsibilitySelected($event) : userSelected($event)"
            [showClearButton]="true"
            [isValid]="isResponsibility ? isValidInput('responsibility') : isValidInput('user')"
            [readOnly]="isReadonly"
          >
          </dx-autocomplete>
        </div>

        <div *ngIf="isReadonly && !isViewer; else editButtons" class="btn-group">
          <button type="button" id="edit-event" class="btn btn-negative btn-gray" (click)="edit()">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
          </button>

          <button type="button" id="delete-event" [disabled]="isSaving" class="btn btn-negative btn-red" (click)="delete()">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
          </button>
        </div>

        <ng-template #editButtons>
          <div *ngIf="!isViewer" class="btn-group">
            <button type="button" id="cancel-save" class="btn btn-negative btn-gray" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-negative btn-green">
              <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </ng-template>
      </div>
    </form>
  </div>
</div>
