<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invitation">
            <h2><span jhiTranslate="eventPlannerApp.invitation.detail.title">Invitation</span> {{ invitation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventPlannerApp.invitation.email">Email</span></dt>
                <dd>
                    <span>{{ invitation.email }}</span>
                </dd>
                <dt><span jhiTranslate="eventPlannerApp.invitation.accepted">Accepted</span></dt>
                <dd>
                    <span>{{ invitation.accepted }}</span>
                </dd>
                <dt><span jhiTranslate="eventPlannerApp.invitation.project">Project</span></dt>
                <dd>
                    <div *ngIf="invitation.project">
                        <a [routerLink]="['/project', invitation.project?.id, 'view']">{{ invitation.project?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eventPlannerApp.invitation.user">User</span></dt>
                <dd>
                    {{ invitation.user?.login }}
                </dd>
                <dt><span jhiTranslate="eventPlannerApp.invitation.role">Role</span></dt>
                <dd>
                    <div *ngIf="invitation.role">
                        <a [routerLink]="['/role', invitation.role?.name, 'view']">{{ invitation.role?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eventPlannerApp.invitation.responsibility">Responsibility</span></dt>
                <dd>
                    <div *ngIf="invitation.responsibility">
                        <a [routerLink]="['/responsibility', invitation.responsibility?.id, 'view']">{{ invitation.responsibility?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invitation', invitation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
