#project-create-component {
  @import '~bootstrap/scss/bootstrap';

  .ngx-autocomplete-input {
    @extend .form-control;
  }

  .ngx-autocomplete-container {
    border-radius: $border-radius;
    background-color: $body-bg;

    .ngx-autocomplete-option {
      border-radius: 0;

      @extend .form-control;

      &-active {
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
      }
    }
  }
}
