<div *ngIf="project">
  <h2 id="page-heading" data-cy="MemberHeading">
    <span jhiTranslate="app.member.home.title">Mitglieder</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="app.member.home.refreshListLabel">Liste aktualisieren</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-member"
        [routerLink]="[{ outlets: { modal: ['project', project.id, 'members', 'invite'] } }]"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="app.member.home.createLabel"> Mitglied erstellen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="members?.length === 0">
    <span jhiTranslate="app.member.home.notFound">Keine Mitglieder gefunden</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="members && members.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="invitedEmail">
            <div class="d-flex">
              <span jhiTranslate="app.member.invitedEmail">Invited email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accepted">
            <div class="d-flex">
              <span jhiTranslate="app.member.accepted">Accepted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!--          <th scope="col" jhiSortBy="acceptedBy">-->
          <!--            <div class="d-flex">-->
          <!--              <span jhiTranslate="app.member.acceptedBy">Accepted By</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="acceptedDate">-->
          <!--            <div class="d-flex">-->
          <!--              <span jhiTranslate="app.member.acceptedDate">Accepted Date</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/member', member.id, 'view']">{{ member.id }}</a>
          </td>
          <td>{{ member.email }}</td>
          <td>{{ member.accepted }}</td>
          <!--          <td>{{ member.acceptedBy }}</td>-->
          <!--          <td>{{ member.acceptedDate | formatMediumDatetime }}</td>-->
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/member', member.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Details</span>
              </button>

              <button type="submit" [routerLink]="['/member', member.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Bearbeiten</span>
              </button>

              <button type="submit" (click)="delete(member)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Löschen</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="members && members.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>

  <router-outlet name="modal"></router-outlet>
</div>
