@import '../../../../content/scss/global';

.app-project-screenplay-location {
  .dx-scheduler-header {
    display: none;
  }

  .dx-scheduler-work-space {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 2vh;
  }

  &.screenplay-readonly {
    .dx-draggable {
      cursor: default;
    }

    .dx-scheduler-date-table-cell,
    .dx-scheduler-appointment {
      cursor: default;
      pointer-events: none;
    }
  }
}
