<div class="alert alert-warning" id="no-result" *ngIf="sections?.length === 0; else scheduler">
    <span jhiTranslate="eventPlannerApp.project.screenplay.sections.notFound">Location does not contain any sections</span>
</div>

<ng-template #scheduler>
    <dx-scheduler
        [dataSource]="events"
        appointmentTemplate="eventTemplate"
        appointmentTooltipTemplate="tooltipTemplate"
        [currentDate]="currentDate"
        [cellDuration]="60"
        [firstDayOfWeek]="1"
        [views]='["timelineDay"]'
        currentView="timelineDay"
        [groups]="['sectionId']"
        height="33vh">
        <dxi-resource
            fieldExpr="sectionId"
            [dataSource]="sections"
        ></dxi-resource>
        <div *dxTemplate="let model of 'eventTemplate'">
            <app-scheduler-appointment
                [appointment]="model.appointmentData"></app-scheduler-appointment>
        </div>
        <div *dxTemplate="let model of 'tooltipTemplate'">
            <app-scheduler-appointment-details
                [appointment]="model.appointmentData"></app-scheduler-appointment-details>
        </div>
    </dx-scheduler>
</ng-template>
