@import '../../../../content/scss/global';

.app-project-screenplay-location {
  .dx-scheduler-header {
    display: none;
  }

  .dx-scheduler-work-space {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 2vh;
  }
}

.dx-dropdowneditor-input-wrapper,
:not(.dx-dropdowneditor-input-wrapper) > .dx-texteditor-container {
  @extend .dx-form-control;
}

.dx-toolbar-before {
  display: none;
}

.dx-toolbar-after {
  float: right;
  position: relative;
}

.dx-button {
  @extend .btn;
  @extend .btn-negative;

  height: 100%;
}
