#locations-accordion {
  ::ng-deep {
    .card-header {
      padding: 0;

      button {
        width: 100%;
        padding: 1vh 1vw;
        text-decoration: none;
      }

      .location-header {
        color: initial;
      }
    }
  }
}
