<div>
    <h2 id="page-heading">
        <span>{{project?.name}}</span>
        <small jhiTranslate="eventPlannerApp.project.home.screenplayLabel">Screenplay</small>

        <button id="jh-settings-{{project?.id}}"
                *appHasAnyRole="{ projectId: project?.id!, roles: adminRoles}"
                [routerLink]="['/project', project?.id, 'admin']"
                class="btn btn-negative btn-gray float-right clearfix">
            <fa-icon [icon]="faCog"></fa-icon>
            <span jhiTranslate="eventPlannerApp.project.home.settingsLabel">
                Settings
            </span>
        </button>
    </h2>

    <br/>

    <app-project-screenplay-filter
        [project]="project"
        [allExpanded]="allExpanded"
        (onExpandAll)="onExpandAll($event)">
    </app-project-screenplay-filter>

    <br/>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="locations?.length === 0">
        <span jhiTranslate="eventPlannerApp.event.home.notFound">No Locations found</span>
    </div>

    <ngb-accordion
        id="locations-accordion"
        [activeIds]="activeLocations"
        (panelChange)="onPanelChange($event)">
        <ngb-panel *ngFor="let location of locations" id="location-{{location.id}}">
            <ng-template ngbPanelTitle>
                <div class="d-flex align-items-left location-header">
                    <h6>{{location.name}}</h6>
                    &nbsp;
                    <div *ngIf="isActiveId('location-' + location.id); else collapsed">
                        <small>
                            <fa-icon [icon]="chevronUp"></fa-icon>
                        </small>
                    </div>
                    <ng-template #collapsed>
                        <small>
                            <fa-icon [icon]="chevronDown"></fa-icon>
                        </small>
                    </ng-template>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-project-screenplay-location
                    *ngIf="isActiveId('location-' + location.id)"
                    [location]="location"
                    [responsibilities]="responsibilities"></app-project-screenplay-location>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
