<div>
    <h2 id="page-heading">
        <span>{{project?.name}}</span>
        <small jhiTranslate="eventPlannerApp.project.home.screenplayLabel">Screenplay</small>

        <button *appHasAnyRole="{ projectId: project!.id!, roles: adminRoles}"
                id="jh-settings-{{project?.id}}"
                [routerLink]="['/project', project?.id, 'admin']"
                class="btn btn-negative btn-gray float-right clearfix">
            <fa-icon [icon]="faCog"></fa-icon>
            <span jhiTranslate="eventPlannerApp.project.home.settingsLabel">
                Settings
            </span>
        </button>
    </h2>

    <br/>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="locations?.length === 0">
        <span jhiTranslate="eventPlannerApp.event.home.notFound">No Locations found</span>
    </div>

    <ngb-accordion>
        <ngb-panel id="location-panel-{{location.id}}" *ngFor="let location of locations">
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="m-0">{{location.name}}</h3>
                    <!--                    <button ngbPanelToggle class="btn btn-link p-0">Toggle first</button>-->
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
