<ng-container *ngIf="variant === 'login'">
  <p jhiTranslate="eventPlannerApp.invitation.acceptViaLoginMessage"></p>

  <!-- TODO: This does not work with OAuth2! -->
  <!--  <jhi-login [invitationToken]="token"></jhi-login>-->
</ng-container>
<ng-container *ngIf="variant === 'register'">
  <p jhiTranslate="eventPlannerApp.invitation.acceptViaRegisterMessage"></p>

  <!-- TODO: This does not work with OAuth2! -->
  <!--  <jhi-register [invitationToken]="token"></jhi-register>-->
</ng-container>
