<jhi-alert></jhi-alert>

<div *ngIf="!isAuthenticated; else redirectMessage">
  <div class="alert alert-info">
    <span jhiTranslate="eventPlannerApp.invitation.acceptViaLoginMessage"></span>
  </div>

  <button type="button" class="btn btn-outline-dark" (click)="login()" jhiTranslate="global.menu.account.login">Sign in</button>
</div>

<ng-template #redirectMessage>
  <div class="alert alert-info">
    <span jhiTranslate="eventPlannerApp.invitation.beingRedirectedShortlyMessage"></span>
  </div>
</ng-template>
