<form *ngIf="member" name="deleteForm" (ngSubmit)="confirmDelete(member.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="memberDeleteDialogHeading" jhiTranslate="entity.delete.title">Löschen bestätigen</h4>

    <!-- TODO: This looks ugly! ALso a click on the screen does not close the modal! -->
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-member-heading" jhiTranslate="app.member.delete.question" [translateValues]="{ id: member.id }">
      Soll Member {{ member.id }} wirklich dauerhaft gelöscht werden?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Abbrechen</span>
    </button>

    <button id="jhi-confirm-delete-member" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Löschen</span>
    </button>
  </div>
</form>
