<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="member">
      <h2 data-cy="memberDetailsHeading"><span jhiTranslate="app.member.detail.title">Member</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ member.id }}</span>
        </dd>
        <dt><span jhiTranslate="app.member.accepted">Accepted</span></dt>
        <dd>
          <span>{{ member.accepted }}</span>
        </dd>
        <dt><span jhiTranslate="app.member.acceptedBy">Accepted By</span></dt>
        <dd>
          <span>{{ member.acceptedBy }}</span>
        </dd>
        <dt><span jhiTranslate="app.member.acceptedDate">Accepted Date</span></dt>
        <dd>
          <span>{{ member.acceptedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="app.member.project">Project</span></dt>
        <dd>
          <div *ngIf="member.project">
            <a [routerLink]="['/project', member.project.id, 'view']">{{ member.project.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Zurück</span>
      </button>

      <button type="button" [routerLink]="['/member', member.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Bearbeiten</span>
      </button>
    </div>
  </div>
</div>
