<nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav col-12 d-flex flex-row flex-wrap align-items-center">
        <li class="nav-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-negative btn-gray" (click)="expandLocations()">
                <div *ngIf="locationsExpanded; else expandAll">
                    <fa-icon [icon]="chevronUp"></fa-icon>
                    <span jhiTranslate="eventPlannerApp.project.screenplay.filter.collapseAll">Collapse All</span>
                </div>
                <ng-template #expandAll>
                    <fa-icon [icon]="chevronDown"></fa-icon>
                    <span jhiTranslate="eventPlannerApp.project.screenplay.filter.expandAll">Expand All</span>
                </ng-template>
            </button>
        </li>

        <li class="nav-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="form-control-label"
                       jhiTranslate="eventPlannerApp.project.screenplay.filter.interval"
                       for="field_cellDuration">Interval</label>
                <dx-slider
                    name="cellDuration"
                    id="field_cellDuration"
                    [min]="15"
                    [max]="60"
                    [step]="15"
                    [value]="cellDuration"
                    (onValueChanged)="cellDurationChange($event)">
                    <dxo-tooltip
                        [enabled]="true"
                        [format]="format">
                    </dxo-tooltip>
                    <dxo-label
                        [visible]="true"
                        [format]="format"
                        position="top"
                    ></dxo-label>
                </dx-slider>
            </div>
        </li>

        <li class="nav-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="form-control-label"
                       jhiTranslate="eventPlannerApp.project.screenplay.filter.from"
                       for="field_from">From</label>
                <dx-date-box
                    class="dx-form-control"
                    name="from"
                    id="field_from"
                    type="date"
                    [value]="from"
                    (valueChange)="dateValueChanged('from', $event)"
                    [openOnFieldClick]="true"
                    [displayFormat]="dateFormat"
                    [min]="project!.startTime!.toDate()"
                    [max]="project!.endTime!.toDate()"
                    placeholder="{{dateFormat}}">
                </dx-date-box>
            </div>
        </li>

        <li class="nav-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="form-control-label"
                       jhiTranslate="eventPlannerApp.project.screenplay.filter.to"
                       for="field_to">To</label>
                <dx-date-box
                    class="dx-form-control"
                    name="to"
                    id="field_to"
                    type="date"
                    [value]="to"
                    (valueChange)="dateValueChanged('to', $event)"
                    [openOnFieldClick]="true"
                    [displayFormat]="dateFormat"
                    [min]="minToDate"
                    [max]="project!.endTime!.toDate()"
                    placeholder="{{dateFormat}}">
                </dx-date-box>
            </div>
        </li>

        <li class="nav-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="btn-group">
                <button type="button"
                        class="btn btn-negative btn-gray"
                        (click)="resetFilter()"
                        jhiTranslate="eventPlannerApp.project.screenplay.filter.reset">Reset
                </button>
            </div>
        </li>
    </ul>
</nav>
