<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-responsibility-heading">
                <span *ngIf="isNew; else updateTitle"
                      jhiTranslate="eventPlannerApp.responsibility.home.createLabel">Create a new Responsibility</span>
                <ng-template #updateTitle>
                    <span jhiTranslate="eventPlannerApp.responsibility.home.editLabel">Edit Responsibility</span>
                </ng-template>
            </h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="eventPlannerApp.responsibility.name"
                           for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength"
                               [translateValues]="{ min: 1 }">
                            This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength"
                               [translateValues]="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.exists"
                               jhiTranslate="entity.validation.uniqueness"
                               [translateValues]="{ max: 50 }">
                            This value has already been taken.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="eventPlannerApp.responsibility.color"
                           for="field_color">Name</label>
                    <dx-color-box class="dx-form-control"
                                  name="color"
                                                                    id="field_color"
                                  formControlName="color"></dx-color-box>
                </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-negative btn-gray"
                        (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-negative btn-green">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
