<div>
  <h3 class="page-heading">
    <span jhiTranslate="eventPlannerApp.project.admin.navbar.eventHistory">History</span>

    <div class="float-end clearfix">
      <div class="col mb-3">
        <div class="d-flex">
          <dx-date-box
            class="dx-form-control"
            name="eventsSince"
            id="field_eventsSince"
            type="datetime"
            [readOnly]="false"
            [showClearButton]="false"
            [openOnFieldClick]="true"
            [displayFormat]="dateTimeFormat"
            [formControl]="eventsSince"
            [max]="now.toDate()"
            placeholder="{{ eventsSinceLabel }}"
          >
          </dx-date-box>
        </div>
      </div>
    </div>
  </h3>

  <br />

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eventHistory.length === 0">
    <span jhiTranslate="eventPlannerApp.project.admin.eventHistory.notFound">No History found</span>
  </div>

  <div class="table-responsive w-100" *ngIf="project">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="eventPlannerApp.project.admin.eventHistory.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="eventPlannerApp.project.admin.eventHistory.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="action">
            <span jhiTranslate="eventPlannerApp.project.admin.eventHistory.action">Action</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="eventId">
            <span jhiTranslate="eventPlannerApp.project.admin.eventHistory.eventId">Event ID</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="eventPlannerApp.project.admin.eventHistory.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventHistoryEntry of eventHistory; trackBy: trackIdentity">
          <td>{{ eventHistoryEntry.createdBy }}</td>
          <td>{{ eventHistoryEntry.createdDate.toDate() | date: 'short' }}</td>
          <td>{{ eventHistoryEntry.action }}</td>
          <td>{{ eventHistoryEntry.eventId }}</td>
          <td>{{ eventHistoryEntry.name }}</td>
          <td>
            <!--          <div class="btn-group">-->
            <!--            <button type="submit" [routerLink]="['./', eventHistoryEntry.id, 'view']" class="btn btn-negative btn-gray btn-sm">-->
            <!--              <fa-icon icon="eye"></fa-icon>-->
            <!--              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
            <!--            </button>-->
            <!--          </div>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="eventHistory" class="row-no-stretch">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
