@import 'settings';
@import '~foundation-sites/scss/foundation';

@include foundation-everything;

html {
  #__next {
    /*
     * Global styles
     */
    .fit-content {
      width: fit-content;
    }

    .profile-picture-inline {
      position: relative;
      height: 2em;
      width: 2em;
    }

    /*
     * Container/Component local
     */
    .container {
      margin: 5vh 5vw 0 5vw;

      .site-header {
        margin-bottom: 3vh;
      }
    }
  }
}
