/**
 * Hide jquery-ui helper "No results found."
 */
.ui-helper-hidden-accessible {
  display: none;
}

/**
 * jquery-ui dropdown styling
 */
#field_emailOrLogin_result {
  z-index: 1;
  position: absolute;

  .ui-autocomplete {
    padding: 0;

    list-style: none;

    .ui-menu-item {
      box-sizing: border-box;

      font-size: 1rem;
      font-weight: 400;

      line-height: normal;
      overflow-wrap: normal;

      text-align: left;
      text-transform: none;

      color: #495057;
      background-color: #ffffff;

      :hover {
        color: #ffffff;
        background-color: #0078d7;
      }

      div {
        padding: 10px;
      }
    }
  }
}
