<div>
  <h2 id="page-heading" data-cy="ProjectHeading" class="mb-3">
    <span jhiTranslate="app.project.mine.title">Deine Projekte</span>

    <div class="d-flex justify-content-end">
      <div class="btn-group">
        <button class="btn btn-info" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="app.project.home.refreshListLabel">Liste aktualisieren</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-project"
          [routerLink]="[{ outlets: { modal: ['project', 'new'] } }]"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="app.project.home.createLabel"> Projekt erstellen </span>
        </button>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
    <span jhiTranslate="app.project.home.notFound">Keine Projekte gefunden</span>
  </div>

  <div *ngIf="projects && projects.length > 0">
    <div id="entities" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="!hasNextPage" [infiniteScrollDistance]="0">
      <div class="row" *ngFor="let triplet of projects">
        <div class="col-md-4" *ngFor="let project of triplet; trackBy: trackId">
          <app-project-card [project]="project"></app-project-card>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-2">
        <button class="btn btn-info" (click)="loadPage(page + 1)" [disabled]="!hasNextPage || isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="app.project.home.loadMoreLabel">Mehr laden</span>
        </button>
      </div>
    </div>
  </div>
</div>
