<div class="card h-100" *ngIf="project">
  <div class="card-body">
    <h5 class="card-title">
      {{ project.name }}
    </h5>
    <p class="card-text mt-1 p-1 rounded" [class.text-bg-light]="project.description">{{ project.description }}</p>
  </div>
  <div class="card-footer">
    <div class="btn-group">
      <button type="submit" [routerLink]="['/project', project.id, 'admin']" class="btn btn-info btn-sm" data-cy="entityEditButton">
        <fa-icon icon="gears"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="app.project.mine.action.administration">Administration</span>
      </button>

      <button type="submit" [routerLink]="['/project', project.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
        <fa-icon icon="pencil-alt"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Bearbeiten</span>
      </button>
    </div>
  </div>
</div>
