<form *ngIf="event" name="deleteForm" (ngSubmit)="confirmDelete(event.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="eventDeleteDialogHeading" jhiTranslate="entity.delete.title">Löschen bestätigen</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-event-heading" jhiTranslate="app.event.delete.question" [translateValues]="{ id: event.id }">
      Soll Event {{ event.id }} wirklich dauerhaft gelöscht werden?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Abbrechen</span>
    </button>

    <button id="jhi-confirm-delete-event" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Löschen</span>
    </button>
  </div>
</form>
