#page-heading {
  display: flow-root;
}

.project-card > div {
  height: 100%;
  padding-bottom: 2vh;

  a {
    color: #212529;
    font-weight: normal;
    text-decoration: none;
  }

  .project-card-content {
    height: 100%;
    padding: 1vw;

    border: 1px solid black;
    border-radius: 5px;

    .project-card-description {
      width: 100%;
      padding: 0.5vh;
      border-radius: 5px;
      background-color: lightgrey;
    }

    .project-card-navigation > button {
      padding: 0;
      padding-top: 1vh;
      padding-right: 1vw;
    }
  }
}
