#page-heading {
  display: flow-root;

  #projects-clientside-filter {
    margin-right: 1vw;
  }
}

.project-card > div {
  height: 100%;
  padding-bottom: 2vh;

  a {
    color: #212529;
    font-weight: normal;
    text-decoration: none;
  }

  .project-card-content {
    height: 100%;
    padding: 1vw;

    border: 2px solid black;
    border-radius: 5px;

    .project-card-navigation {
      margin-top: 1vh;
    }
  }
}
