<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="role">
            <h2><span jhiTranslate="eventPlannerApp.role.detail.title">Role</span> {{ role.name }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
    </div>
</div>
