<div>
    <h3 id="page-heading">
        <span jhiTranslate="eventPlannerApp.location.home.title">Location</span>

        <button id="jh-create-entity"
                class="btn btn-green btn-negative float-right clearfix jh-create-entity create-location"
                [routerLink]="['', {outlets: {modal: ['projects', project!.id, 'locations', 'new']}}]">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="eventPlannerApp.location.home.createLabel">
            Create a new Location
            </span>
        </button>
    </h3>

    <br/>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="locations?.length === 0">
        <span
            jhiTranslate="eventPlannerApp.location.home.notFound">No locations found</span>
    </div>

    <div id="entities" *ngIf="project && locations && locations.length > 0">
        <div class="row">
            <div *ngFor="let location of locations" class="location-card col-xs-12 col-sm-4">
                <div>
                    <div class="location-card-content d-flex flex-column">
                        <h4 class="location-heading">
                            <span>
                                {{location.name}}
                            </span>

                            <button
                                [routerLink]="['', {outlets: {modal: ['projects', project.id, 'locations', location.id, 'sections', 'new']}}]"
                                class="btn btn-green btn-sm float-right clearfix jh-create-entity create-section"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="{{ 'eventPlannerApp.section.home.createLabel' | translate }}">
                                <fa-icon icon="plus"></fa-icon>
                            </button>
                        </h4>

                        <div class="location-card-responsibility" *ngIf="location.responsibility">
                            <i>
                                <span jhiTranslate="eventPlannerApp.location.responsibility">Responsibility</span>: {{location.responsibility!.name}}
                            </i>
                        </div>

                        <div class="location-card-section mb-auto">
                            <table class="table table-striped">
                                <tbody>
                                <tr *ngFor="let section of location.sections">
                                    <td>{{section.name}}</td>

                                    <td>
                                        <div class="btn-group float-right clearfix">
                                            <button type="submit"
                                                    [routerLink]="['', {outlets: {modal: ['projects', project.id, 'locations', location.id, 'sections', section.id, 'edit']}}]"
                                                    class="btn btn-blue btn-sm"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="{{ 'entity.action.edit' | translate }}">
                                                <fa-icon icon="pencil-alt"></fa-icon>
                                            </button>

                                            <button type="submit" (click)="deleteSection(section)"
                                                    class="btn btn-red btn-sm"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="{{ 'entity.action.delete' | translate }}">
                                                <fa-icon icon="times"></fa-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="location-card-navigation">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['', {outlets: {modal: ['projects', project.id, 'locations', location.id, 'edit']}}]"
                                        class="btn btn-negative btn-blue btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline"
                                          jhiTranslate="entity.action.edit">Edit</span>
                                </button>

                                <button type="submit" (click)="deleteLocation(location)"
                                        class="btn btn-negative btn-red btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline"
                                          jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
