<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-project-heading" data-cy="ProjectCreateUpdateHeading" jhiTranslate="eventplannerApp.project.home.createOrEditLabel">
        Projekt erstellen oder bearbeiten
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eventplannerApp.project.token" for="field_token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
          <div *ngIf="editForm.get('token')!.invalid && (editForm.get('token')!.dirty || editForm.get('token')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('token')?.errors?.required" jhiTranslate="entity.validation.required">
              Dieses Feld wird benötigt.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eventplannerApp.project.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              Dieses Feld wird benötigt.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              Dieses Feld muss mind. 1 Zeichen lang sein.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 63 }"
            >
              Dieses Feld darf max. 63 Zeichen lang sein.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eventplannerApp.project.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              Dieses Feld darf max. 255 Zeichen lang sein.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eventplannerApp.project.startDate" for="field_startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('startDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Dieses Feld wird benötigt.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('startDate')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Dieses Feld muss eine Datums- und Zeitangabe enthalten.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eventplannerApp.project.endDate" for="field_endDate">End Date</label>
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('endDate')!.invalid && (editForm.get('endDate')!.dirty || editForm.get('endDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('endDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Dieses Feld wird benötigt.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('endDate')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Dieses Feld muss eine Datums- und Zeitangabe enthalten.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eventplannerApp.project.archived" for="field_archived">Archived</label>
          <input type="checkbox" class="form-check" name="archived" id="field_archived" data-cy="archived" formControlName="archived" />
          <div *ngIf="editForm.get('archived')!.invalid && (editForm.get('archived')!.dirty || editForm.get('archived')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('archived')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Dieses Feld wird benötigt.
            </small>
          </div>
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.createdBy.value !== null">
          <label class="form-label" jhiTranslate="eventplannerApp.project.createdBy" for="field_createdBy">Created By</label>
          <input
            type="text"
            class="form-control"
            name="createdBy"
            id="field_createdBy"
            data-cy="createdBy"
            formControlName="createdBy"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.createdDate.value !== null">
          <label class="form-label" jhiTranslate="eventplannerApp.project.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
              [readonly]="true"
            />
          </div>
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.lastModifiedBy.value !== null">
          <label class="form-label" jhiTranslate="eventplannerApp.project.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.lastModifiedDate.value !== null">
          <label class="form-label" jhiTranslate="eventplannerApp.project.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
              [readonly]="true"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Abbrechen</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Speichern</span>
        </button>
      </div>
    </form>
  </div>
</div>
