<div class="row justify-content-center">
    <div class="col-8">
        <form name="inviteForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-project-heading" jhiTranslate="userManagement.invite"></h2>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="global.form.email.label"
                           for="field_email"></label>
                    <input type="email"
                           class="form-control"
                           name="email"
                           id="field_email"
                           formControlName="email"
                           autocomplete="off"
                           [readOnly]="!isNew"
                    />
                    <div
                        *ngIf="editForm.get('email')!.invalid && editForm.get('email')!.dirty || editForm.get('email')!.touched">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.email"
                               jhiTranslate="entity.validation.email">
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.exists"
                               jhiTranslate="entity.validation.uniqueness"
                               [translateValues]="{ max: 50 }">
                            This value has already been taken.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="global.form.role.label"
                           for="field_role"></label>
                    <select formControlName="role"
                            class="form-control"
                            name="role"
                            id="field_role">
                        <option *ngFor="let role of invitationRoles" [jhiTranslate]="role.i18nKey"
                                [ngValue]="role"></option>
                    </select>
                    <div
                        *ngIf="editForm.get('role')!.invalid && editForm.get('role')!.dirty || editForm.get('role')!.touched">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('role')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="eventPlannerApp.location.responsibility"
                           for="field_responsibility"> Responsibility </label>
                    <dx-autocomplete
                        class="dx-form-control"
                        name="responsibility"
                        id="field_responsibility"
                        formControlName="responsibilityAutocomplete"
                        [placeholder]="'global.form.search' | translate"
                        [dataSource]="responsibilities"
                        valueExpr="name"
                        (onSelectionChanged)="responsibilitySelected($event)"
                        [showClearButton]="true"
                        [isValid]="!(editForm.get('responsibility')!.invalid && editForm.get('responsibility')!.dirty || editForm.get('responsibility')!.touched)">
                    </dx-autocomplete>
                </div>
            </div>

            <div>
                <button type="button"
                        class="btn btn-negative btn-gray"
                        (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity"
                        [disabled]="editForm.pristine || editForm.invalid || isSaving"
                        class="btn btn-negative btn-blue">
                    <fa-icon icon="save"></fa-icon>&nbsp;
                    <span *ngIf="isNew" jhiTranslate="entity.action.inviteuser"></span>
                    <span *ngIf="!isNew" jhiTranslate="entity.action.save"></span>
                </button>
            </div>
        </form>
    </div>
</div>
