<div class="row justify-content-center">
  <div class="col-8">
    <form name="inviteForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="inviteForm">
      <h2 id="jhi-project-heading" jhiTranslate="userManagement.invite"></h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="global.form.email.label" for="field_email"></label>
          <input type="email"
                 class="form-control"
                 name="email"
                 id="field_email"
                 formControlName="email"
                 autocomplete="off"
          />
          <div *ngIf="isDisplayingError('email')">
            <small class="form-text text-danger"
                   *ngIf="inviteForm.get('email')?.errors?.email"
                   jhiTranslate="entity.validation.email">
            </small>
            <small class="form-text text-danger"
                   *ngIf="inviteForm.get('email')?.errors?.required"
                   jhiTranslate="entity.validation.required">
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="global.form.role.label" for="field_role"></label>
          <select formControlName="role"
                  class="form-control"
                  name="role"
                  id="field_role">
            <option *ngFor="let role of ROLES" [jhiTranslate]="role.i18nKey" [ngValue]="role"></option>
          </select>
          <div *ngIf="isDisplayingError('role')">
            <small class="form-text text-danger"
                   *ngIf="inviteForm.get('role')?.errors?.required"
                   jhiTranslate="entity.validation.required">
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label"
                 jhiTranslate="eventPlannerApp.location.responsibility"
                 for="field-responsibility"> Responsibility </label>
          <ngx-autocomplete
              name="responsibility"
              id="field-responsibility"
              formControlName="responsibility"
              [options]="filteredResponsibilities"
              propertyAccessor="name"
              [placeholder]="'global.form.search' | translate"
              (autocompleteChanges)="filter($event)"
          ></ngx-autocomplete>

          <div *ngIf="isDisplayingError('responsibility')">
            <small class="form-text text-danger"
                   *ngIf="inviteForm.get('responsibility')?.errors?.required"
                   jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

      </div>

      <div>
        <button type="button"
                class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="inviteForm.pristine || inviteForm.invalid || isSaving"
                class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.inviteuser"></span>
        </button>
      </div>
    </form>
  </div>
</div>
