<div>
    <h3 id="page-heading">
        <span jhiTranslate="eventPlannerApp.project.admin.navbar.users"></span>

        <div class="float-right clearfix">
            <app-clientside-filter id="users-clientside-filter" class="float-left"
                                   (valueChange)="filterData($event)"></app-clientside-filter>

            <button id="jh-create-entity"
                    class="btn btn-negative btn-green jh-create-entity invite-user"
                    [routerLink]="['', {outlets: {modal: ['projects', projectId, 'users', 'invite', 'new']}}]">
                <fa-icon icon="plus"></fa-icon>
                <span jhiTranslate="userManagement.invite"></span>
            </button>
        </div>
    </h3>

    <br/>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="table-responsive" id="entities" *ngIf="invitations">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col">
                    <span jhiTranslate="eventPlannerApp.invitation.email"></span>
                </th>
                <th scope="col">
                    <span jhiTranslate="eventPlannerApp.invitation.role"></span>
                </th>
                <th scope="col">
                  <span jhiTranslate="eventPlannerApp.responsibility.detail.title"></span>
                </th>
                <th scope="col">
                    <span jhiTranslate="eventPlannerApp.invitation.accepted"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invitation of invitations ;trackBy: trackByFn">
                <td>{{ invitation.email }}</td>
                <td>{{ invitation.role.name | i18nRole | translate }}</td>
                <td>{{ invitation.responsibility?.name }}</td>
                <td [jhiTranslate]="invitation.accepted ? 'eventPlannerApp.invitation.accepted.yes' : 'eventPlannerApp.invitation.accepted.no'"></td>
                <td class="text-right">
                    <div *ngIf="invitation.role.name !== roleProjectAdmin.name" class="btn-group">
                        <button type="submit"
                                [routerLink]="['', {outlets: {modal: ['projects', projectId, 'users', 'invite', invitation.id, 'edit']}}]"
                                class="btn btn-blue btn-sm"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="{{ 'entity.action.edit' | translate }}">
                            <fa-icon icon="pencil-alt"></fa-icon>
                        </button>

                        <button type="submit" (click)="delete(invitation)"
                                class="btn btn-red btn-sm"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="{{ 'entity.action.delete' | translate }}">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="invitations && invitations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                            [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true"
                            [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
